$header-large: 64px;
$header-small: 56px;

$primary-dark: #000000;
$primary-accent: #A4903E;
$secondary-accent: #A4903E;
$card-background: #FFFFFF;
$dark-text: #000000;
$med-dark-text: #000000;
$light-text: #FFFFFF;
$primary-border: #000000;